body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  color: rgb(95,95,95);
  background-color: rgb(235,238,235);
}

.container {
  width: 764px;
  margin: 0 auto;
}

.title, .btn-row {
  text-align: center;
}

.pictures {
  display: flex;
  justify-content: space-between;
}

.pic-box {
  width: 240px;
  height: 240px;
  text-align: center;
  position: relative;
  color: white;
  overflow: hidden;
  margin: 1rem 0;
}

img {
  height: 100%;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
}

.btn {
  background-color: rgb(250,250,250);
  border: 1px solid rgb(190,190,190);
  font-family: inherit;
  color: rgb(100,100,100);
  font-weight: bold;
  border-radius: 2px;
  width: 14rem;
  height: 2rem;
  font-size: 12px;
}

.title {
  margin: 1.75rem 0 1.5rem 0;
}

.btn-row, .pictures {
  margin: 1.25rem 0;
}

h1, p {
  margin: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 13px;
}

@media (max-width: 800px) {
  .container {
    width: 400px;
  }

  .pictures {
    flex-direction: column;
    align-items: center;
  }

  .pic-box {
    width: 280px;
    height: 280px;
  }
}
